body {
	padding-top: 70px;
	font-family: Garamond;
}
.slide {
        text-align: center;
		min-height: 510px;
        .center-block();
}

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

.push {
	height: 30px;
}

body > footer {
	height: 30px;
	background-color: #ececec;
}

.slide-button {
	margin-top: 20px;
}

code {
	display: inline-block;
	white-space: pre;
}