/* These are my own CSS tweaks, on top of Bootstrap */

body {
	padding-top: 70px;
}

.slide {
	text-align: center;
	min-height: 510px;
	.center-block();
}

.slide-nav {
	margin-top: 20px;
}

code {
	display: inline-block;
	white-space: pre;
}

/* How to get the footer to the bottom of the screen */
html, body {
        height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

.push {
	height: 30px;
}
footer {
	height: 30px;
	background-color: #ececec;
}
